<table class="table_us_stk_new">
<tr>
<th scope="col"><a href="#" class="stockticker">
Stock
<br>
Ticker
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price
<br>
at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score at
<br>
Hour 0
</a></th>
<th scope="col"><a href="#" class="scoretype">
Score
<br>
Type
</a></th>
<th scope="col"><a href="#" class="gainathour1">
Gain
<br>
at
<br>
Hour 1
</a></th>
<th scope="col"><a href="#" class="gmttimeathour24timetocloseposition">
GMT Time
<br>
at hour 24
<br>
(Time to Close Position)
</a></th>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=AXU">AXU</a></td>
<td>
2011-05-25 19:05:00
</td>
<td align="right">
    7.99
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=EWZ">EWZ</a></td>
<td>
2011-05-25 16:10:00
</td>
<td align="right">
   72.67
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.12
</td>
<td>
2011-05-26 16:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-05-25 15:15:00
</td>
<td align="right">
  123.06
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
     .13
</td>
<td>
2011-05-26 15:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FSLR">FSLR</a></td>
<td>
2011-05-25 15:20:00
</td>
<td align="right">
  122.99
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
     .15
</td>
<td>
2011-05-26 15:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-05-25 15:35:00
</td>
<td align="right">
   43.62
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.07
</td>
<td>
2011-05-26 15:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-05-25 15:40:00
</td>
<td align="right">
   43.64
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.11
</td>
<td>
2011-05-26 15:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=FXI">FXI</a></td>
<td>
2011-05-25 15:45:00
</td>
<td align="right">
   43.63
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
    -.13
</td>
<td>
2011-05-26 15:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HMY">HMY</a></td>
<td>
2011-05-25 15:00:00
</td>
<td align="right">
   13.43
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
2011-05-26 15:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HMY">HMY</a></td>
<td>
2011-05-25 15:05:00
</td>
<td align="right">
   13.44
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .03
</td>
<td>
2011-05-26 15:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 19:00:00
</td>
<td align="right">
   60.96
</td>
<td align="right">
 -.56
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 19:10:00
</td>
<td align="right">
   61.08
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 19:15:00
</td>
<td align="right">
   61.03
</td>
<td align="right">
 -.61
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 19:25:00
</td>
<td align="right">
   61.00
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 19:30:00
</td>
<td align="right">
   60.97
</td>
<td align="right">
 -.77
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 19:35:00
</td>
<td align="right">
   60.97
</td>
<td align="right">
 -.82
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 19:40:00
</td>
<td align="right">
   60.98
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2011-05-25 17:50:00
</td>
<td align="right">
   66.09
</td>
<td align="right">
 -.66
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
2011-05-26 17:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MJN">MJN</a></td>
<td>
2011-05-25 19:55:00
</td>
<td align="right">
   66.37
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MSFT">MSFT</a></td>
<td>
2011-05-25 16:35:00
</td>
<td align="right">
   24.25
</td>
<td align="right">
 -.64
</td>
<td>
Sell
</td>
<td align="right">
    -.04
</td>
<td>
2011-05-26 16:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-05-25 19:50:00
</td>
<td align="right">
   74.36
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-05-25 19:55:00
</td>
<td align="right">
   74.37
</td>
<td align="right">
 -.65
</td>
<td>
Sell
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-05-25 15:40:00
</td>
<td align="right">
   36.20
</td>
<td align="right">
 -.58
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
2011-05-26 15:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=SBUX">SBUX</a></td>
<td>
2011-05-25 15:45:00
</td>
<td align="right">
   36.19
</td>
<td align="right">
 -.57
</td>
<td>
Sell
</td>
<td align="right">
    -.06
</td>
<td>
2011-05-26 15:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 14:25:00
</td>
<td align="right">
   78.33
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .57
</td>
<td>
2011-05-26 14:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 14:30:00
</td>
<td align="right">
   78.66
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .09
</td>
<td>
2011-05-26 14:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 14:35:00
</td>
<td align="right">
   78.65
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
2011-05-26 14:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 14:40:00
</td>
<td align="right">
   78.59
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .37
</td>
<td>
2011-05-26 14:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 14:45:00
</td>
<td align="right">
   78.53
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .37
</td>
<td>
2011-05-26 14:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 14:50:00
</td>
<td align="right">
   78.67
</td>
<td align="right">
 -.63
</td>
<td>
Sell
</td>
<td align="right">
     .27
</td>
<td>
2011-05-26 14:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 14:55:00
</td>
<td align="right">
   78.61
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .38
</td>
<td>
2011-05-26 14:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 15:00:00
</td>
<td align="right">
   78.77
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .14
</td>
<td>
2011-05-26 15:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 15:30:00
</td>
<td align="right">
   78.75
</td>
<td align="right">
 -.59
</td>
<td>
Sell
</td>
<td align="right">
     .00
</td>
<td>
2011-05-26 15:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 16:35:00
</td>
<td align="right">
   78.70
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .12
</td>
<td>
2011-05-26 16:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 16:40:00
</td>
<td align="right">
   78.68
</td>
<td align="right">
 -.71
</td>
<td>
Sell
</td>
<td align="right">
     .20
</td>
<td>
2011-05-26 16:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 16:45:00
</td>
<td align="right">
   78.70
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .16
</td>
<td>
2011-05-26 16:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 16:50:00
</td>
<td align="right">
   78.73
</td>
<td align="right">
 -.70
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
2011-05-26 16:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 18:15:00
</td>
<td align="right">
   78.75
</td>
<td align="right">
 -.60
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
2011-05-26 18:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 18:20:00
</td>
<td align="right">
   78.69
</td>
<td align="right">
 -.69
</td>
<td>
Sell
</td>
<td align="right">
     .21
</td>
<td>
2011-05-26 18:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 18:25:00
</td>
<td align="right">
   78.69
</td>
<td align="right">
 -.68
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
2011-05-26 18:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 18:30:00
</td>
<td align="right">
   78.69
</td>
<td align="right">
 -.55
</td>
<td>
Sell
</td>
<td align="right">
     .23
</td>
<td>
2011-05-26 18:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-05-25 17:20:00
</td>
<td align="right">
  142.86
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .08
</td>
<td>
2011-05-26 17:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-05-25 17:25:00
</td>
<td align="right">
  142.83
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .32
</td>
<td>
2011-05-26 17:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-05-25 17:30:00
</td>
<td align="right">
  142.77
</td>
<td align="right">
 -.62
</td>
<td>
Sell
</td>
<td align="right">
     .42
</td>
<td>
2011-05-26 17:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-05-25 16:20:00
</td>
<td align="right">
   48.90
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
2011-05-26 16:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-05-25 16:25:00
</td>
<td align="right">
   48.91
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .05
</td>
<td>
2011-05-26 16:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-05-25 16:30:00
</td>
<td align="right">
   48.97
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
2011-05-26 16:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-05-25 16:35:00
</td>
<td align="right">
   48.97
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
    -.05
</td>
<td>
2011-05-26 16:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-05-25 16:40:00
</td>
<td align="right">
   48.97
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
    -.01
</td>
<td>
2011-05-26 16:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-05-25 16:50:00
</td>
<td align="right">
   48.93
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .07
</td>
<td>
2011-05-26 16:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-05-25 16:55:00
</td>
<td align="right">
   49.01
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.06
</td>
<td>
2011-05-26 16:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=DTV">DTV</a></td>
<td>
2011-05-25 17:00:00
</td>
<td align="right">
   49.03
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.07
</td>
<td>
2011-05-26 17:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-05-25 15:30:00
</td>
<td align="right">
   57.28
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
2011-05-26 15:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-05-25 15:35:00
</td>
<td align="right">
   57.36
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
2011-05-26 15:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=GDX">GDX</a></td>
<td>
2011-05-25 15:40:00
</td>
<td align="right">
   57.46
</td>
<td align="right">
  .86
</td>
<td>
Buy
</td>
<td align="right">
    -.29
</td>
<td>
2011-05-26 15:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HD">HD</a></td>
<td>
2011-05-25 14:15:00
</td>
<td align="right">
   36.49
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .10
</td>
<td>
2011-05-26 14:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HD">HD</a></td>
<td>
2011-05-25 14:30:00
</td>
<td align="right">
   36.47
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .06
</td>
<td>
2011-05-26 14:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HD">HD</a></td>
<td>
2011-05-25 14:35:00
</td>
<td align="right">
   36.54
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    -.02
</td>
<td>
2011-05-26 14:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HD">HD</a></td>
<td>
2011-05-25 14:40:00
</td>
<td align="right">
   36.54
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.04
</td>
<td>
2011-05-26 14:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HD">HD</a></td>
<td>
2011-05-25 14:45:00
</td>
<td align="right">
   36.55
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
    -.09
</td>
<td>
2011-05-26 14:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HD">HD</a></td>
<td>
2011-05-25 14:55:00
</td>
<td align="right">
   36.68
</td>
<td align="right">
  .71
</td>
<td>
Buy
</td>
<td align="right">
    -.28
</td>
<td>
2011-05-26 14:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HD">HD</a></td>
<td>
2011-05-25 15:00:00
</td>
<td align="right">
   36.64
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
    -.25
</td>
<td>
2011-05-26 15:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HD">HD</a></td>
<td>
2011-05-25 15:10:00
</td>
<td align="right">
   36.61
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
    -.21
</td>
<td>
2011-05-26 15:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=HD">HD</a></td>
<td>
2011-05-25 15:15:00
</td>
<td align="right">
   36.59
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
    -.19
</td>
<td>
2011-05-26 15:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 14:00:00
</td>
<td align="right">
   60.24
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .09
</td>
<td>
2011-05-26 14:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 14:05:00
</td>
<td align="right">
   60.27
</td>
<td align="right">
  .67
</td>
<td>
Buy
</td>
<td align="right">
     .11
</td>
<td>
2011-05-26 14:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 14:10:00
</td>
<td align="right">
   60.12
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
2011-05-26 14:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 14:20:00
</td>
<td align="right">
   60.13
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .38
</td>
<td>
2011-05-26 14:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 14:25:00
</td>
<td align="right">
   60.20
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .34
</td>
<td>
2011-05-26 14:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 14:30:00
</td>
<td align="right">
   60.27
</td>
<td align="right">
  .72
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
2011-05-26 14:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 14:35:00
</td>
<td align="right">
   60.41
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
     .31
</td>
<td>
2011-05-26 14:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 14:45:00
</td>
<td align="right">
   60.32
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
2011-05-26 14:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 14:50:00
</td>
<td align="right">
   60.29
</td>
<td align="right">
  .65
</td>
<td>
Buy
</td>
<td align="right">
     .49
</td>
<td>
2011-05-26 14:50:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 15:00:00
</td>
<td align="right">
   60.33
</td>
<td align="right">
  .77
</td>
<td>
Buy
</td>
<td align="right">
     .39
</td>
<td>
2011-05-26 15:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 15:10:00
</td>
<td align="right">
   60.46
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .24
</td>
<td>
2011-05-26 15:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 15:20:00
</td>
<td align="right">
   60.51
</td>
<td align="right">
  .73
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
2011-05-26 15:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=IYR">IYR</a></td>
<td>
2011-05-25 15:25:00
</td>
<td align="right">
   60.54
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
     .12
</td>
<td>
2011-05-26 15:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2011-05-25 14:00:00
</td>
<td align="right">
  175.80
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .59
</td>
<td>
2011-05-26 14:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2011-05-25 14:30:00
</td>
<td align="right">
  176.06
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
     .64
</td>
<td>
2011-05-26 14:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=MDY">MDY</a></td>
<td>
2011-05-25 15:20:00
</td>
<td align="right">
  176.71
</td>
<td align="right">
  .58
</td>
<td>
Buy
</td>
<td align="right">
     .14
</td>
<td>
2011-05-26 15:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-05-25 16:05:00
</td>
<td align="right">
   74.15
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .16
</td>
<td>
2011-05-26 16:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-05-25 16:10:00
</td>
<td align="right">
   74.15
</td>
<td align="right">
  .70
</td>
<td>
Buy
</td>
<td align="right">
     .13
</td>
<td>
2011-05-26 16:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-05-25 16:15:00
</td>
<td align="right">
   73.91
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
2011-05-26 16:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-05-25 16:20:00
</td>
<td align="right">
   73.91
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
2011-05-26 16:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-05-25 16:25:00
</td>
<td align="right">
   73.91
</td>
<td align="right">
  .74
</td>
<td>
Buy
</td>
<td align="right">
     .46
</td>
<td>
2011-05-26 16:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-05-25 16:30:00
</td>
<td align="right">
   74.06
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
2011-05-26 16:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PALL">PALL</a></td>
<td>
2011-05-25 16:35:00
</td>
<td align="right">
   74.06
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
     .33
</td>
<td>
2011-05-26 16:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-05-25 19:40:00
</td>
<td align="right">
   62.47
</td>
<td align="right">
  .56
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=PRU">PRU</a></td>
<td>
2011-05-25 19:45:00
</td>
<td align="right">
   62.25
</td>
<td align="right">
  .61
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:45:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-05-25 19:20:00
</td>
<td align="right">
   31.16
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-05-25 19:25:00
</td>
<td align="right">
   31.16
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-05-25 19:30:00
</td>
<td align="right">
   31.10
</td>
<td align="right">
  .64
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=T">T</a></td>
<td>
2011-05-25 19:35:00
</td>
<td align="right">
   31.12
</td>
<td align="right">
  .66
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:35:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-05-25 19:15:00
</td>
<td align="right">
   34.36
</td>
<td align="right">
  .60
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:15:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-05-25 19:20:00
</td>
<td align="right">
   34.36
</td>
<td align="right">
  .59
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-05-25 19:30:00
</td>
<td align="right">
   34.34
</td>
<td align="right">
  .63
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=TXN">TXN</a></td>
<td>
2011-05-25 19:40:00
</td>
<td align="right">
   34.36
</td>
<td align="right">
  .55
</td>
<td>
Buy
</td>
<td align="right">
&nbsp;
</td>
<td>
2011-05-26 19:40:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 15:05:00
</td>
<td align="right">
   79.01
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.08
</td>
<td>
2011-05-26 15:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=V">V</a></td>
<td>
2011-05-25 15:10:00
</td>
<td align="right">
   78.98
</td>
<td align="right">
  .79
</td>
<td>
Buy
</td>
<td align="right">
    -.11
</td>
<td>
2011-05-26 15:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=VZ">VZ</a></td>
<td>
2011-05-25 18:25:00
</td>
<td align="right">
   36.42
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
     .03
</td>
<td>
2011-05-26 18:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-05-25 14:00:00
</td>
<td align="right">
  140.89
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .90
</td>
<td>
2011-05-26 14:00:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-05-25 14:05:00
</td>
<td align="right">
  140.99
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .67
</td>
<td>
2011-05-26 14:05:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-05-25 14:10:00
</td>
<td align="right">
  140.97
</td>
<td align="right">
  .81
</td>
<td>
Buy
</td>
<td align="right">
     .93
</td>
<td>
2011-05-26 14:10:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-05-25 14:20:00
</td>
<td align="right">
  141.03
</td>
<td align="right">
  .82
</td>
<td>
Buy
</td>
<td align="right">
    1.05
</td>
<td>
2011-05-26 14:20:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-05-25 14:25:00
</td>
<td align="right">
  141.01
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    1.01
</td>
<td>
2011-05-26 14:25:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-05-25 14:30:00
</td>
<td align="right">
  141.13
</td>
<td align="right">
  .78
</td>
<td>
Buy
</td>
<td align="right">
    1.27
</td>
<td>
2011-05-26 14:30:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-05-25 14:55:00
</td>
<td align="right">
  141.26
</td>
<td align="right">
  .57
</td>
<td>
Buy
</td>
<td align="right">
    1.74
</td>
<td>
2011-05-26 14:55:00
</td>
</tr>
<tr>
<td><a target="y" href="http://finance.yahoo.com/q?s=WYNN">WYNN</a></td>
<td>
2011-05-25 15:25:00
</td>
<td align="right">
  142.02
</td>
<td align="right">
  .62
</td>
<td>
Buy
</td>
<td align="right">
    1.04
</td>
<td>
2011-05-26 15:25:00
</td>
</tr>
</table>
