/
  app/views/predictions/_fx_past_column_help.haml

:javascript
  $(document).ready(function() {
    $("div#help4_currencypair").hide();
    $("div#help4_avgdanbotscore").hide();
    $("div#help4_sharperatio").hide();
    $("div#help4_avgofnormalized5hrgains").hide();
    $("div#help4_countofpositions").hide();
    $("div#help4_sumofnormalized5hrgains").hide();
    $("div#help4_minofnormalized5hrgains").hide();
    $("div#help4_maxofnormalized5hrgains").hide();
    $("div#help4_standarddeviationofnormalized5hrgains").hide();

    $("a.currencypair").click(function(event){
      $("div#help4_currencypair").dialog();
    });

    $("a.avgdanbotscore").click(function(event){
      $("div#help4_avgdanbotscore").dialog();
    });

    $("a.sharperatio").click(function(event){
      $("div#help4_sharperatio").dialog();
    });

    $("a.avgofnormalized5hrgains").click(function(event){
      $("div#help4_avgofnormalized5hrgains").dialog();
    });

    $("a.countofpositions").click(function(event){
      $("div#help4_countofpositions").dialog();
    });

    $("a.sumofnormalized5hrgains").click(function(event){
      $("div#help4_sumofnormalized5hrgains").dialog();
    });

    $("a.minofnormalized5hrgains").click(function(event){
      $("div#help4_minofnormalized5hrgains").dialog();
    });

    $("a.maxofnormalized5hrgains").click(function(event){
      $("div#help4_maxofnormalized5hrgains").dialog();
    });

    $("a.standarddeviationofnormalized5hrgains").click(function(event){
      $("div#help4_standarddeviationofnormalized5hrgains").dialog();
    });


  });

#help4_currencypair(title="Currency Pair")
  Currency pairs have names like EUR/USD.
  The name on the left is the currency getting bought.
  The name on the right is the currency I use to pay for the currency on the left.
  So, if I buy the EUR/USD pair, I am buying EUR with USD.
  If I sell the EUR/USD pair, I am selling EUR and receiving USD.
  By convention, some pairs are rarely referred to.
  For example, the EUR/USD pair is often mentioned in the media, but the USD/EUR pair is not.

#help4_avgdanbotscore(title="Avg DanBot Score")
  The DanBot is software I wrote and perfected during the years 2008 through 2011.
  I run the DanBot on a set of servers which feed data to this website.
  The DanBot relies on a machine learning algorithm called:
  %a(target="w" href="http://en.wikipedia.org/wiki/Support_vector_machine")Support Vector Machine (SVM).
  %br/
  It is easy to find discussion about predicting attributes in time series data using SVM:
  %a(target="g" href="http://www.google.com/search?q=using+svm+algorithm+to+predict+time+series")
    SVM and Time Series Data
  %br/
  The DanBot scores 11 differenct currency pairs every 5 minutes when the Forex market is open.
  Currently the Forex market is open every hour between 9pm Sunday and 9pm Friday London time.
  So, every hour the DanBot calculates 660 prediction scores which is almost 16,000 scores per day.
  If the  DanBot prediction score is between -0.55 and 0.55, then I ignore it.
  If the DanBot score is greater than 0.55 on a currency pair at a point in time,
  then the DanBot is predicting that the currency pair price will be higher after 6 hours.
  Likewise, if the DanBot score is less than -0.55 on a currency pair at a point in time,
  then the DanBot is predicting that the currency pair price will be lower after 6 hours.
  I ignore the vast majority of DanBot scores.
  In a typical week, about 1,000 DanBot scores will catch my attention.
  Once I see a DanBot score that I like, I wait until the score is 1 hour old.
  Then I check the price of the currency pair.  If the price has not moved much during that 1 hour,
  I will open a position in that currency pair for 5 hours and then I will close it.

#help4_sharperatio(title="Sharpe Ratio")
  I use the Sharpe Ratio to help me measure the past effectiveness of the DanBot.
  First I compare the sign of the Sharpe Ratio to the sign of Avg DanBot Score.
  If the signs match, that indicates to me that DanBot was probably effective.
  If the signs don't match that is definitely bad; the DanBot was issuing "false positive" predictions.
  For example if I see that Avg DanBot Score for AUD/JPY is -0.65,
  I want to see a Sharpe Ratio of -1.0 or less.  
  That means that the DanBot predictions were "true positive" and thus lucrative had I followed them.
  If the Sharpe Ratio is between -0.4 and 0.0, 
  that is not great but I was not losing money either.
  I calculate the Sharpe Ratio by taking the Avg of Normalized 5hr Gains and dividing it by Standard Deviation of Normalized 5hr Gains.
  Wikipedia has an article about the Sharpe Ratio:
  %a(target="w" href="http://en.wikipedia.org/wiki/Sharpe_ratio")http://en.wikipedia.org/wiki/Sharpe_ratio
  The article is a bit dense but the idea is simple.
  Here is a simple way to think about the Sharpe Ratio:
  If I am earning small gains from a currency-pair which has large price fluctuations, that is a bad situation.
  As the situation grows worse, the Sharpe Ratio moves toward zero.
  Since the Sharpe Ratio can be viewed as a fraction, I see two ways it can move towards zero.
  The numerator of the fraction is the average gain and if that number is zero, then the Sharpe Ratio is zero.
  The denominator of the fraction is the standard deviation of the gains.
  If the gains wildly fluctuate, the standard deviation grows large and the Sharpe Ratio grows small.
  I describe a simple example below using EUR/USD.
  Suppose during week one I do only 2 EUR/USD trades and earn gains of $10 and $30.
  The average gain for that week is $20.
  During week two I do another 2 EUR/USD trades and earn gains of -$20 and $60 and again the average for that week is $20.
  Although the average gains match, I would argue that the "quality" of the gains from week one are better because
  I endured less heartburn than during week two.
  This heartburn cost is quantified by the Sharpe Ratio.
  The Sharpe Ratio for week two is closer to zero than the Sharpe Ratio for week one.
  To calculate the Sharpe Ratio I divide the average by the standard deviation.
  For week one the Sharpe Ratio is 20 / 14.1 and for week two the Sharpe Ratio is 20 / 56.6
  %hr/
  %a(target="w" href="http://www.wolframalpha.com/input/?i=standard+deviation+of+10%2C30")Standard Deviation of(10,30)
  %br/
  %a(target="w" href="http://www.wolframalpha.com/input/?i=standard+deviation+of+-20%2C60")Standard Deviation of(-20,60)

#help4_avgofnormalized5hrgains(title="Avg of normalized 5hr gains")
  Like the Sharpe Ratio, I use the results in this column to measure the past effectiveness of the DanBot.
  I place this column next to the Sharpe Ratio column because I consider it almost equally indicative.
  The first measure of DanBot effectiveness is, "Do the signs match?".  I want the signs to match;
  that means that the DanBot is at least correctly predicting the direction of the price move.
  If the signs do match, I next look at the magnitude of the average-gain.
  Generally any gain which is greater than 0.0020 will make me happy.
  Roughly this is equivalent to a gain of $20 on a position size equivalent to $10,000.
  Keep in mind that a forex position size of $10,000 is too small to be allowed to trade.
  A minimum tradeable position is usually around $20,000 or $30,000.
  If I don't have $20,000 in my bankroll, some brokers will gladly lend it to me
  if I have 2.5% of that amount in my brokerage account.
  So, 2.5% of $20,000 is $500.
  Now suppose I open a position worth $20,000 for 5 hours and then I close it and I make a normailized gain of 0.0020.
  That would be a gain of $40.  Of that $40, the broker will want about $2.5 commission to both enter and exit the position.
  So, then I'd have a gain $35.  One way to save money on commissions is to trade larger positions.
  The commission on a $100,000 position is roughly equivalent to the commission on a $20,000 position.
  So, supposing I wager $500 to open a $20,000 position and then gain $35, what would be my percentage gain?
  It would be 100 x 35 / 500 which is 7% which is a very large gain for a position held for only 5 hours.

#help4_countofpositions(title="Count of Positions")
  Every hour the Forex market is open, the DanBot calculates 660 prediction scores which is almost 16,000 scores per day.
  The values in this column indicate how many times during a week
  that the DanBot made predictions with a high degree of confidence.
  I measure confidence on a scale from -1 to +1.
  Any score less than -0.55 or greater than +0.55 is worthy of my attention and thus will increment the counts in this column.

#help4_sumofnormalized5hrgains(title="Sum of Normalized 5hr Gains")
  The values in this column are calculated from the product of two other columns:
  %ul
    %li Avg of normalized 5hr gains
    %li Count of Positions
  I use the values here to measure the past effectiveness of the DanBot.
  If the DanBot issued many predictions, because it was confident, and if those predictions were accurate,
  then that effectiveness will appear here and in the total sum at the bottom of the table.

#help4_minofnormalized5hrgains(title="Min of Normalized 5hr Gains")
  I use the values in this column for two purposes.
  First, if the DanBot was effective and if it issued negative scores, then I should see large negative numbers
  in this column.
  Secondly, if the DanBot was effective and if it issued negative scores, the values in this column should
  give me a sense of "best-case-scenario" when I'm holding a position in real-time which I opened due to
  a large negative score which had captured my attention.
  If I am holding a lucrative position which has exceeded a "best-case-scenario" before the 5 hour holding period
  has expired, I might want to close the position early to lock-in a large gain.
  Conversely,  if the DanBot was effective and if it issued positive scores,
  then I should see small negative numbers in this column.

#help4_maxofnormalized5hrgains(title="Max of Normalized 5hr Gains")
  The logic behind the values in this column is similar to the logic explained here:
  %a.minofnormalized5hrgains(href="#") Min of Normalized 5hr Gains

#help4_standarddeviationofnormalized5hrgains(title="Standard Deviation of Normalized 5hr Gains")
  I use the values in this column to gain a sense of how "jumpy" the prices of a currency pair were 
  during the week in question (over a typical 5 hour period).
  Note that the values in this column (and some other columns) are for "normalized gains".
  A gain is typically measured as price2 - price1.
  This works well if the prices are roughly the same magnitude.
  In the Forex market though, prices for some pairs are of greater magnitude than of other pairs.
  For example, the price of the USD/JPY pair is usually between 70 and 80.
  The price of the EUR/USD pair is usually between 1.2 and 1.8.
  So when I do a calculation which involves a gain, I prefer to use "normalized gains".
  I calculate a normalized gain like this: (price2 - price1)/price1

/
  %a.currencypair(href="#") Currency Pair 

