<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="1dayrunningcorrelationbetweendanbotscoreand6hrgain">
1 Day
<br>
Running
<br>
Correlation
<br>
Between
<br>
DanBot
<br>
Score
<br>
and
<br>
6hr Gain
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="priceafter6hours">
Price after
<br>
6 hours
</a></th>
<th scope="col"><a href="#" class="5hourgainbetweenhr1andhr6">
5 hour gain
<br>
between
<br>
hr1 and hr6
</a></th>
<th scope="col"><a href="#" class="normalized5hrgain">
Normalized
<br>
5hr gain
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
12:25:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  86.0108
</td>
<td align="right">
  .17
</td>
<td align="right">
  86.1905
</td>
<td align="right">
  86.3687
</td>
<td align="right">
   .1782
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
12:50:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  86.0963
</td>
<td align="right">
  .16
</td>
<td align="right">
  85.8906
</td>
<td align="right">
  86.3456
</td>
<td align="right">
   .4551
</td>
<td align="right">
  .0053
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
13:35:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  85.9326
</td>
<td align="right">
  .14
</td>
<td align="right">
  85.9709
</td>
<td align="right">
  86.2020
</td>
<td align="right">
   .2310
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
13:45:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  85.8436
</td>
<td align="right">
  .12
</td>
<td align="right">
  85.8152
</td>
<td align="right">
  86.2775
</td>
<td align="right">
   .4622
</td>
<td align="right">
  .0054
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
14:00:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  85.9547
</td>
<td align="right">
  .11
</td>
<td align="right">
  85.8656
</td>
<td align="right">
  86.2973
</td>
<td align="right">
   .4317
</td>
<td align="right">
  .0050
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
14:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  85.9646
</td>
<td align="right">
  .10
</td>
<td align="right">
  85.7321
</td>
<td align="right">
  86.2972
</td>
<td align="right">
   .5652
</td>
<td align="right">
  .0066
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
22:45:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
  86.4808
</td>
<td align="right">
  .10
</td>
<td align="right">
  86.3473
</td>
<td align="right">
  85.9327
</td>
<td align="right">
  -.4146
</td>
<td align="right">
 -.0048
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-13
10:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  86.1796
</td>
<td align="right">
  .16
</td>
<td align="right">
  86.2171
</td>
<td align="right">
  85.0663
</td>
<td align="right">
 -1.1508
</td>
<td align="right">
 -.0134
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-13
10:30:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
  86.1906
</td>
<td align="right">
  .17
</td>
<td align="right">
  86.2560
</td>
<td align="right">
  85.2318
</td>
<td align="right">
 -1.0242
</td>
<td align="right">
 -.0119
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
08:15:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
 115.2151
</td>
<td align="right">
  .28
</td>
<td align="right">
 114.8295
</td>
<td align="right">
 114.7736
</td>
<td align="right">
  -.0558
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
08:20:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 115.1958
</td>
<td align="right">
  .28
</td>
<td align="right">
 114.6731
</td>
<td align="right">
 114.7190
</td>
<td align="right">
   .0459
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
22:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 115.3403
</td>
<td align="right">
  .48
</td>
<td align="right">
 115.3482
</td>
<td align="right">
 114.8506
</td>
<td align="right">
  -.4976
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-13
11:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 115.2860
</td>
<td align="right">
  .37
</td>
<td align="right">
 115.3105
</td>
<td align="right">
 113.8535
</td>
<td align="right">
 -1.4570
</td>
<td align="right">
 -.0126
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-13
11:10:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 115.3102
</td>
<td align="right">
  .37
</td>
<td align="right">
 115.3085
</td>
<td align="right">
 113.8841
</td>
<td align="right">
 -1.4245
</td>
<td align="right">
 -.0124
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-13
11:45:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
 115.3303
</td>
<td align="right">
  .37
</td>
<td align="right">
 115.1417
</td>
<td align="right">
 113.9030
</td>
<td align="right">
 -1.2387
</td>
<td align="right">
 -.0107
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-13
12:00:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
 115.3537
</td>
<td align="right">
  .39
</td>
<td align="right">
 115.1243
</td>
<td align="right">
 113.9231
</td>
<td align="right">
 -1.2012
</td>
<td align="right">
 -.0104
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-13
12:10:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
 115.3085
</td>
<td align="right">
  .39
</td>
<td align="right">
 115.0471
</td>
<td align="right">
 114.0210
</td>
<td align="right">
 -1.0260
</td>
<td align="right">
 -.0089
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-13
12:20:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 115.4010
</td>
<td align="right">
  .40
</td>
<td align="right">
 114.8349
</td>
<td align="right">
 114.1030
</td>
<td align="right">
  -.7319
</td>
<td align="right">
 -.0063
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-05-13
08:05:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.4313
</td>
<td align="right">
  .20
</td>
<td align="right">
   1.4313
</td>
<td align="right">
   1.4225
</td>
<td align="right">
  -.0089
</td>
<td align="right">
 -.0062
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-12
15:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.6312
</td>
<td align="right">
  .39
</td>
<td align="right">
   1.6282
</td>
<td align="right">
   1.6288
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-12
17:35:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.6319
</td>
<td align="right">
  .37
</td>
<td align="right">
   1.6297
</td>
<td align="right">
   1.6273
</td>
<td align="right">
  -.0025
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-13
07:40:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.6292
</td>
<td align="right">
  .22
</td>
<td align="right">
   1.6285
</td>
<td align="right">
   1.6253
</td>
<td align="right">
  -.0032
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-13
07:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.6298
</td>
<td align="right">
  .23
</td>
<td align="right">
   1.6283
</td>
<td align="right">
   1.6240
</td>
<td align="right">
  -.0043
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-13
08:25:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.6301
</td>
<td align="right">
  .25
</td>
<td align="right">
   1.6277
</td>
<td align="right">
   1.6231
</td>
<td align="right">
  -.0046
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
08:15:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .9652
</td>
<td align="right">
  .23
</td>
<td align="right">
    .9649
</td>
<td align="right">
    .9662
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
08:20:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .9659
</td>
<td align="right">
  .24
</td>
<td align="right">
    .9653
</td>
<td align="right">
    .9660
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
08:25:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .9662
</td>
<td align="right">
  .24
</td>
<td align="right">
    .9656
</td>
<td align="right">
    .9662
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
08:30:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9666
</td>
<td align="right">
  .24
</td>
<td align="right">
    .9658
</td>
<td align="right">
    .9660
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
08:40:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .9658
</td>
<td align="right">
  .25
</td>
<td align="right">
    .9665
</td>
<td align="right">
    .9679
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
08:45:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9657
</td>
<td align="right">
  .24
</td>
<td align="right">
    .9672
</td>
<td align="right">
    .9681
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
08:50:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9654
</td>
<td align="right">
  .24
</td>
<td align="right">
    .9668
</td>
<td align="right">
    .9690
</td>
<td align="right">
   .0023
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
09:40:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9665
</td>
<td align="right">
  .24
</td>
<td align="right">
    .9684
</td>
<td align="right">
    .9637
</td>
<td align="right">
  -.0047
</td>
<td align="right">
 -.0048
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
09:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9666
</td>
<td align="right">
  .25
</td>
<td align="right">
    .9680
</td>
<td align="right">
    .9657
</td>
<td align="right">
  -.0023
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
10:15:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9672
</td>
<td align="right">
  .27
</td>
<td align="right">
    .9681
</td>
<td align="right">
    .9660
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
10:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9673
</td>
<td align="right">
  .28
</td>
<td align="right">
    .9676
</td>
<td align="right">
    .9650
</td>
<td align="right">
  -.0027
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
10:45:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9685
</td>
<td align="right">
  .30
</td>
<td align="right">
    .9663
</td>
<td align="right">
    .9642
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
10:50:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
    .9685
</td>
<td align="right">
  .31
</td>
<td align="right">
    .9661
</td>
<td align="right">
    .9643
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
15:15:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .9682
</td>
<td align="right">
  .38
</td>
<td align="right">
    .9725
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
15:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9692
</td>
<td align="right">
  .39
</td>
<td align="right">
    .9724
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
15:35:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9695
</td>
<td align="right">
  .39
</td>
<td align="right">
    .9718
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
15:40:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9709
</td>
<td align="right">
  .39
</td>
<td align="right">
    .9715
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
15:45:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9706
</td>
<td align="right">
  .40
</td>
<td align="right">
    .9707
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
16:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9728
</td>
<td align="right">
  .39
</td>
<td align="right">
    .9694
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
16:15:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9725
</td>
<td align="right">
  .39
</td>
<td align="right">
    .9688
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
16:40:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9715
</td>
<td align="right">
  .39
</td>
<td align="right">
    .9696
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
16:55:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9704
</td>
<td align="right">
  .38
</td>
<td align="right">
    .9697
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
17:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9701
</td>
<td align="right">
  .36
</td>
<td align="right">
    .9700
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
17:40:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9696
</td>
<td align="right">
  .33
</td>
<td align="right">
    .9683
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
17:50:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9703
</td>
<td align="right">
  .32
</td>
<td align="right">
    .9682
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
17:55:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .9697
</td>
<td align="right">
  .31
</td>
<td align="right">
    .9681
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
18:15:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9688
</td>
<td align="right">
  .30
</td>
<td align="right">
    .9685
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
18:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9684
</td>
<td align="right">
  .29
</td>
<td align="right">
    .9691
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
19:15:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9685
</td>
<td align="right">
  .26
</td>
<td align="right">
    .9689
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
19:30:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9690
</td>
<td align="right">
  .25
</td>
<td align="right">
    .9695
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
19:55:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9687
</td>
<td align="right">
  .25
</td>
<td align="right">
    .9688
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
20:05:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9687
</td>
<td align="right">
  .25
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
20:45:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9703
</td>
<td align="right">
  .22
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
20:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9701
</td>
<td align="right">
  .22
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
20:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9688
</td>
<td align="right">
  .23
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
01:25:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .8868
</td>
<td align="right">
  .27
</td>
<td align="right">
    .8867
</td>
<td align="right">
    .8826
</td>
<td align="right">
  -.0041
</td>
<td align="right">
 -.0046
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
01:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .8873
</td>
<td align="right">
  .30
</td>
<td align="right">
    .8868
</td>
<td align="right">
    .8813
</td>
<td align="right">
  -.0055
</td>
<td align="right">
 -.0062
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
02:20:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
    .8867
</td>
<td align="right">
  .34
</td>
<td align="right">
    .8865
</td>
<td align="right">
    .8807
</td>
<td align="right">
  -.0058
</td>
<td align="right">
 -.0065
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
02:25:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .8867
</td>
<td align="right">
  .35
</td>
<td align="right">
    .8870
</td>
<td align="right">
    .8806
</td>
<td align="right">
  -.0064
</td>
<td align="right">
 -.0072
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
02:30:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .8865
</td>
<td align="right">
  .36
</td>
<td align="right">
    .8867
</td>
<td align="right">
    .8807
</td>
<td align="right">
  -.0060
</td>
<td align="right">
 -.0067
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
02:35:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
    .8865
</td>
<td align="right">
  .37
</td>
<td align="right">
    .8870
</td>
<td align="right">
    .8808
</td>
<td align="right">
  -.0063
</td>
<td align="right">
 -.0071
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
02:40:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
    .8868
</td>
<td align="right">
  .38
</td>
<td align="right">
    .8873
</td>
<td align="right">
    .8815
</td>
<td align="right">
  -.0058
</td>
<td align="right">
 -.0066
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
02:55:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .8866
</td>
<td align="right">
  .40
</td>
<td align="right">
    .8864
</td>
<td align="right">
    .8823
</td>
<td align="right">
  -.0041
</td>
<td align="right">
 -.0047
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
03:10:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .8865
</td>
<td align="right">
  .41
</td>
<td align="right">
    .8867
</td>
<td align="right">
    .8834
</td>
<td align="right">
  -.0033
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
03:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8867
</td>
<td align="right">
  .42
</td>
<td align="right">
    .8871
</td>
<td align="right">
    .8829
</td>
<td align="right">
  -.0042
</td>
<td align="right">
 -.0047
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
03:40:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .8873
</td>
<td align="right">
  .43
</td>
<td align="right">
    .8872
</td>
<td align="right">
    .8831
</td>
<td align="right">
  -.0042
</td>
<td align="right">
 -.0047
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
04:30:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .8871
</td>
<td align="right">
  .45
</td>
<td align="right">
    .8863
</td>
<td align="right">
    .8849
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
05:00:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .8865
</td>
<td align="right">
  .45
</td>
<td align="right">
    .8853
</td>
<td align="right">
    .8861
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
05:05:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .8863
</td>
<td align="right">
  .45
</td>
<td align="right">
    .8858
</td>
<td align="right">
    .8861
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
05:40:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .8862
</td>
<td align="right">
  .45
</td>
<td align="right">
    .8860
</td>
<td align="right">
    .8864
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
05:45:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
    .8863
</td>
<td align="right">
  .45
</td>
<td align="right">
    .8858
</td>
<td align="right">
    .8863
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
12:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8857
</td>
<td align="right">
  .46
</td>
<td align="right">
    .8861
</td>
<td align="right">
    .8917
</td>
<td align="right">
   .0056
</td>
<td align="right">
  .0064
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
14:05:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .8874
</td>
<td align="right">
  .37
</td>
<td align="right">
    .8881
</td>
<td align="right">
    .8929
</td>
<td align="right">
   .0048
</td>
<td align="right">
  .0054
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
14:10:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .8872
</td>
<td align="right">
  .36
</td>
<td align="right">
    .8876
</td>
<td align="right">
    .8933
</td>
<td align="right">
   .0057
</td>
<td align="right">
  .0064
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
14:20:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .8869
</td>
<td align="right">
  .35
</td>
<td align="right">
    .8887
</td>
<td align="right">
    .8934
</td>
<td align="right">
   .0048
</td>
<td align="right">
  .0054
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
14:25:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .8870
</td>
<td align="right">
  .34
</td>
<td align="right">
    .8890
</td>
<td align="right">
    .8935
</td>
<td align="right">
   .0045
</td>
<td align="right">
  .0051
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
14:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .8870
</td>
<td align="right">
  .33
</td>
<td align="right">
    .8889
</td>
<td align="right">
    .8935
</td>
<td align="right">
   .0047
</td>
<td align="right">
  .0053
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
14:40:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .8872
</td>
<td align="right">
  .32
</td>
<td align="right">
    .8894
</td>
<td align="right">
    .8931
</td>
<td align="right">
   .0037
</td>
<td align="right">
  .0042
</td>
</tr>
</table>
