<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="priceafter6hours">
Price after
<br>
6 hours
</a></th>
<th scope="col"><a href="#" class="5hourgainbetweenhr1andhr6">
5 hour gain
<br>
between
<br>
hr1 and hr6
</a></th>
<th scope="col"><a href="#" class="normalized5hrgain">
Normalized
<br>
5hr gain
</a></th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-11
21:35:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  86.8364
</td>
<td align="right">
  86.7890
</td>
<td align="right">
  86.3360
</td>
<td align="right">
  -.4530
</td>
<td align="right">
 -.0052
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-11
22:30:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  86.7535
</td>
<td align="right">
  86.5116
</td>
<td align="right">
  86.3761
</td>
<td align="right">
  -.1355
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-11
22:45:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  86.8192
</td>
<td align="right">
  86.6753
</td>
<td align="right">
  86.4272
</td>
<td align="right">
  -.2481
</td>
<td align="right">
 -.0029
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-11
22:50:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  86.7959
</td>
<td align="right">
  86.6416
</td>
<td align="right">
  86.4180
</td>
<td align="right">
  -.2235
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
01:05:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  86.8680
</td>
<td align="right">
  86.1120
</td>
<td align="right">
  85.9752
</td>
<td align="right">
  -.1368
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
01:15:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  86.8395
</td>
<td align="right">
  86.0473
</td>
<td align="right">
  86.0173
</td>
<td align="right">
  -.0301
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
05:25:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  86.3933
</td>
<td align="right">
  85.9256
</td>
<td align="right">
  85.7005
</td>
<td align="right">
  -.2251
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
12:25:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  86.0108
</td>
<td align="right">
  86.1905
</td>
<td align="right">
  86.3687
</td>
<td align="right">
   .1782
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
12:50:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  86.0963
</td>
<td align="right">
  85.8906
</td>
<td align="right">
  86.3456
</td>
<td align="right">
   .4551
</td>
<td align="right">
  .0053
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
13:35:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  85.9326
</td>
<td align="right">
  85.9709
</td>
<td align="right">
  86.2020
</td>
<td align="right">
   .2310
</td>
<td align="right">
  .0027
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
13:45:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  85.8436
</td>
<td align="right">
  85.8152
</td>
<td align="right">
  86.2775
</td>
<td align="right">
   .4622
</td>
<td align="right">
  .0054
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
14:00:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  85.9547
</td>
<td align="right">
  85.8656
</td>
<td align="right">
  86.2973
</td>
<td align="right">
   .4317
</td>
<td align="right">
  .0050
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
14:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  85.9646
</td>
<td align="right">
  85.7321
</td>
<td align="right">
  86.2972
</td>
<td align="right">
   .5652
</td>
<td align="right">
  .0066
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
14:15:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
  86.0454
</td>
<td align="right">
  85.8614
</td>
<td align="right">
  86.3249
</td>
<td align="right">
   .4635
</td>
<td align="right">
  .0054
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
15:45:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  86.1461
</td>
<td align="right">
  86.1469
</td>
<td align="right">
  86.3726
</td>
<td align="right">
   .2257
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
15:55:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  86.0081
</td>
<td align="right">
  86.1572
</td>
<td align="right">
  86.4491
</td>
<td align="right">
   .2919
</td>
<td align="right">
  .0034
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
16:20:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  86.1348
</td>
<td align="right">
  86.5559
</td>
<td align="right">
  86.4385
</td>
<td align="right">
  -.1174
</td>
<td align="right">
 -.0014
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
16:35:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  86.1377
</td>
<td align="right">
  86.5163
</td>
<td align="right">
  86.4530
</td>
<td align="right">
  -.0633
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
16:45:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  86.1469
</td>
<td align="right">
  86.3994
</td>
<td align="right">
  86.3916
</td>
<td align="right">
  -.0078
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
16:50:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  86.1259
</td>
<td align="right">
  86.4526
</td>
<td align="right">
  86.4199
</td>
<td align="right">
  -.0327
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
16:55:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  86.1572
</td>
<td align="right">
  86.4344
</td>
<td align="right">
  86.4259
</td>
<td align="right">
  -.0085
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
17:00:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  86.3533
</td>
<td align="right">
  86.4444
</td>
<td align="right">
  86.4252
</td>
<td align="right">
  -.0192
</td>
<td align="right">
 -.0002
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
17:10:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
  86.3483
</td>
<td align="right">
  86.4455
</td>
<td align="right">
  86.3576
</td>
<td align="right">
  -.0879
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
17:15:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  86.5045
</td>
<td align="right">
  86.3640
</td>
<td align="right">
  86.3827
</td>
<td align="right">
   .0187
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
17:20:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  86.5559
</td>
<td align="right">
  86.3340
</td>
<td align="right">
  86.3901
</td>
<td align="right">
   .0561
</td>
<td align="right">
  .0006
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
17:25:00
</td>
<td align="right">
 -.84
</td>
<td align="right">
  86.4731
</td>
<td align="right">
  86.3687
</td>
<td align="right">
  86.3930
</td>
<td align="right">
   .0243
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
17:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  86.4215
</td>
<td align="right">
  86.3897
</td>
<td align="right">
  86.3473
</td>
<td align="right">
  -.0424
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
17:40:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
  86.4609
</td>
<td align="right">
  86.4035
</td>
<td align="right">
  86.3439
</td>
<td align="right">
  -.0597
</td>
<td align="right">
 -.0007
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
17:50:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  86.4526
</td>
<td align="right">
  86.3456
</td>
<td align="right">
  86.2994
</td>
<td align="right">
  -.0462
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
17:55:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  86.4344
</td>
<td align="right">
  86.2083
</td>
<td align="right">
  86.2531
</td>
<td align="right">
   .0448
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
18:00:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
  86.4444
</td>
<td align="right">
  86.1804
</td>
<td align="right">
  86.2642
</td>
<td align="right">
   .0838
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-12
18:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  86.3687
</td>
<td align="right">
  86.2025
</td>
<td align="right">
  86.2248
</td>
<td align="right">
   .0222
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-13
09:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  86.1425
</td>
<td align="right">
  86.1530
</td>
<td align="right">
  85.3125
</td>
<td align="right">
  -.8405
</td>
<td align="right">
 -.0098
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-13
10:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  86.1796
</td>
<td align="right">
  86.2171
</td>
<td align="right">
  85.0663
</td>
<td align="right">
 -1.1508
</td>
<td align="right">
 -.0134
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-13
10:30:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
  86.1906
</td>
<td align="right">
  86.2560
</td>
<td align="right">
  85.2318
</td>
<td align="right">
 -1.0242
</td>
<td align="right">
 -.0119
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
21:15:00
</td>
<td align="right">
 -.89
</td>
<td align="right">
   1.0693
</td>
<td align="right">
   1.0701
</td>
<td align="right">
   1.0633
</td>
<td align="right">
  -.0068
</td>
<td align="right">
 -.0064
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
21:20:00
</td>
<td align="right">
 -.89
</td>
<td align="right">
   1.0702
</td>
<td align="right">
   1.0702
</td>
<td align="right">
   1.0629
</td>
<td align="right">
  -.0073
</td>
<td align="right">
 -.0068
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
21:25:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
   1.0697
</td>
<td align="right">
   1.0704
</td>
<td align="right">
   1.0637
</td>
<td align="right">
  -.0068
</td>
<td align="right">
 -.0063
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
21:30:00
</td>
<td align="right">
 -.87
</td>
<td align="right">
   1.0697
</td>
<td align="right">
   1.0703
</td>
<td align="right">
   1.0639
</td>
<td align="right">
  -.0064
</td>
<td align="right">
 -.0060
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
21:35:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
   1.0699
</td>
<td align="right">
   1.0708
</td>
<td align="right">
   1.0638
</td>
<td align="right">
  -.0070
</td>
<td align="right">
 -.0065
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
21:40:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
   1.0697
</td>
<td align="right">
   1.0710
</td>
<td align="right">
   1.0640
</td>
<td align="right">
  -.0070
</td>
<td align="right">
 -.0066
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
21:50:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.0704
</td>
<td align="right">
   1.0710
</td>
<td align="right">
   1.0636
</td>
<td align="right">
  -.0075
</td>
<td align="right">
 -.0070
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
21:55:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
   1.0704
</td>
<td align="right">
   1.0711
</td>
<td align="right">
   1.0638
</td>
<td align="right">
  -.0073
</td>
<td align="right">
 -.0068
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
22:00:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
   1.0704
</td>
<td align="right">
   1.0709
</td>
<td align="right">
   1.0634
</td>
<td align="right">
  -.0074
</td>
<td align="right">
 -.0069
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
22:05:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.0699
</td>
<td align="right">
   1.0706
</td>
<td align="right">
   1.0629
</td>
<td align="right">
  -.0077
</td>
<td align="right">
 -.0072
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
22:10:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.0700
</td>
<td align="right">
   1.0705
</td>
<td align="right">
   1.0631
</td>
<td align="right">
  -.0074
</td>
<td align="right">
 -.0069
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
22:15:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.0701
</td>
<td align="right">
   1.0697
</td>
<td align="right">
   1.0639
</td>
<td align="right">
  -.0058
</td>
<td align="right">
 -.0054
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
22:20:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.0702
</td>
<td align="right">
   1.0695
</td>
<td align="right">
   1.0638
</td>
<td align="right">
  -.0058
</td>
<td align="right">
 -.0054
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
22:30:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.0703
</td>
<td align="right">
   1.0691
</td>
<td align="right">
   1.0644
</td>
<td align="right">
  -.0047
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
22:35:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
   1.0708
</td>
<td align="right">
   1.0693
</td>
<td align="right">
   1.0645
</td>
<td align="right">
  -.0048
</td>
<td align="right">
 -.0044
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
22:40:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.0710
</td>
<td align="right">
   1.0695
</td>
<td align="right">
   1.0647
</td>
<td align="right">
  -.0049
</td>
<td align="right">
 -.0046
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
23:15:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.0697
</td>
<td align="right">
   1.0690
</td>
<td align="right">
   1.0651
</td>
<td align="right">
  -.0040
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
23:25:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.0693
</td>
<td align="right">
   1.0695
</td>
<td align="right">
   1.0644
</td>
<td align="right">
  -.0051
</td>
<td align="right">
 -.0048
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
23:35:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.0693
</td>
<td align="right">
   1.0696
</td>
<td align="right">
   1.0635
</td>
<td align="right">
  -.0061
</td>
<td align="right">
 -.0057
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
23:40:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
   1.0695
</td>
<td align="right">
   1.0697
</td>
<td align="right">
   1.0633
</td>
<td align="right">
  -.0064
</td>
<td align="right">
 -.0060
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-11
23:45:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.0699
</td>
<td align="right">
   1.0703
</td>
<td align="right">
   1.0628
</td>
<td align="right">
  -.0075
</td>
<td align="right">
 -.0070
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
12:05:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.0623
</td>
<td align="right">
   1.0635
</td>
<td align="right">
   1.0691
</td>
<td align="right">
   .0057
</td>
<td align="right">
  .0053
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
14:45:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.0623
</td>
<td align="right">
   1.0664
</td>
<td align="right">
   1.0676
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
15:35:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
   1.0671
</td>
<td align="right">
   1.0663
</td>
<td align="right">
   1.0667
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
15:40:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.0670
</td>
<td align="right">
   1.0658
</td>
<td align="right">
   1.0666
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
16:00:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.0658
</td>
<td align="right">
   1.0674
</td>
<td align="right">
   1.0673
</td>
<td align="right">
  -.0001
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
16:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.0659
</td>
<td align="right">
   1.0690
</td>
<td align="right">
   1.0671
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
16:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.0663
</td>
<td align="right">
   1.0692
</td>
<td align="right">
   1.0664
</td>
<td align="right">
  -.0028
</td>
<td align="right">
 -.0026
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
16:40:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.0658
</td>
<td align="right">
   1.0687
</td>
<td align="right">
   1.0665
</td>
<td align="right">
  -.0023
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
16:55:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.0661
</td>
<td align="right">
   1.0686
</td>
<td align="right">
   1.0666
</td>
<td align="right">
  -.0020
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
17:00:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
   1.0674
</td>
<td align="right">
   1.0686
</td>
<td align="right">
   1.0666
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
17:10:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.0677
</td>
<td align="right">
   1.0684
</td>
<td align="right">
   1.0657
</td>
<td align="right">
  -.0027
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
17:15:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
   1.0686
</td>
<td align="right">
   1.0674
</td>
<td align="right">
   1.0660
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
17:20:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
   1.0695
</td>
<td align="right">
   1.0670
</td>
<td align="right">
   1.0661
</td>
<td align="right">
  -.0009
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
17:25:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.0690
</td>
<td align="right">
   1.0674
</td>
<td align="right">
   1.0664
</td>
<td align="right">
  -.0011
</td>
<td align="right">
 -.0010
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
17:30:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.0684
</td>
<td align="right">
   1.0678
</td>
<td align="right">
   1.0660
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
17:35:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
   1.0692
</td>
<td align="right">
   1.0678
</td>
<td align="right">
   1.0658
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
17:45:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
   1.0683
</td>
<td align="right">
   1.0675
</td>
<td align="right">
   1.0655
</td>
<td align="right">
  -.0020
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
17:50:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.0688
</td>
<td align="right">
   1.0670
</td>
<td align="right">
   1.0654
</td>
<td align="right">
  -.0016
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
17:55:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
   1.0686
</td>
<td align="right">
   1.0656
</td>
<td align="right">
   1.0651
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
18:00:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.0686
</td>
<td align="right">
   1.0656
</td>
<td align="right">
   1.0652
</td>
<td align="right">
  -.0004
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
18:05:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
   1.0691
</td>
<td align="right">
   1.0659
</td>
<td align="right">
   1.0653
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
18:30:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.0678
</td>
<td align="right">
   1.0655
</td>
<td align="right">
   1.0664
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-12
18:35:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.0678
</td>
<td align="right">
   1.0659
</td>
<td align="right">
   1.0660
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_aud
</td>
<td>
2011-05-11
23:40:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
   1.3283
</td>
<td align="right">
   1.3297
</td>
<td align="right">
   1.3364
</td>
<td align="right">
   .0067
</td>
<td align="right">
  .0050
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-11
23:00:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2595
</td>
<td align="right">
   1.2590
</td>
<td align="right">
   1.2604
</td>
<td align="right">
   .0015
</td>
<td align="right">
  .0012
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-11
23:15:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2588
</td>
<td align="right">
   1.2590
</td>
<td align="right">
   1.2608
</td>
<td align="right">
   .0018
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-11
23:30:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.2587
</td>
<td align="right">
   1.2592
</td>
<td align="right">
   1.2614
</td>
<td align="right">
   .0022
</td>
<td align="right">
  .0017
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-12
00:15:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2590
</td>
<td align="right">
   1.2591
</td>
<td align="right">
   1.2585
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-12
00:20:00
</td>
<td align="right">
 -.82
</td>
<td align="right">
   1.2594
</td>
<td align="right">
   1.2589
</td>
<td align="right">
   1.2590
</td>
<td align="right">
   .0001
</td>
<td align="right">
  .0001
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-12
03:10:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
   1.2594
</td>
<td align="right">
   1.2598
</td>
<td align="right">
   1.2586
</td>
<td align="right">
  -.0012
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-12
04:50:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.2606
</td>
<td align="right">
   1.2603
</td>
<td align="right">
   1.2577
</td>
<td align="right">
  -.0026
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-12
05:40:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
   1.2605
</td>
<td align="right">
   1.2605
</td>
<td align="right">
   1.2582
</td>
<td align="right">
  -.0023
</td>
<td align="right">
 -.0018
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-12
07:45:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
   1.2610
</td>
<td align="right">
   1.2592
</td>
<td align="right">
   1.2595
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-12
09:30:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.2563
</td>
<td align="right">
   1.2577
</td>
<td align="right">
   1.2586
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-13
07:15:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.2607
</td>
<td align="right">
   1.2614
</td>
<td align="right">
   1.2640
</td>
<td align="right">
   .0026
</td>
<td align="right">
  .0020
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-13
07:45:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.2606
</td>
<td align="right">
   1.2630
</td>
<td align="right">
   1.2624
</td>
<td align="right">
  -.0006
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-13
07:50:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.2604
</td>
<td align="right">
   1.2632
</td>
<td align="right">
   1.2626
</td>
<td align="right">
  -.0005
</td>
<td align="right">
 -.0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-11
23:10:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
 115.1020
</td>
<td align="right">
 115.0752
</td>
<td align="right">
 115.5138
</td>
<td align="right">
   .4386
</td>
<td align="right">
  .0038
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-11
23:40:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
 115.0262
</td>
<td align="right">
 115.2106
</td>
<td align="right">
 115.2720
</td>
<td align="right">
   .0614
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-11
23:50:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
 115.1147
</td>
<td align="right">
 115.3678
</td>
<td align="right">
 115.2198
</td>
<td align="right">
  -.1480
</td>
<td align="right">
 -.0013
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-11
23:55:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 115.1335
</td>
<td align="right">
 115.3567
</td>
<td align="right">
 115.1265
</td>
<td align="right">
  -.2302
</td>
<td align="right">
 -.0020
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
00:00:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 115.1224
</td>
<td align="right">
 115.4252
</td>
<td align="right">
 115.2259
</td>
<td align="right">
  -.1993
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
01:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 115.3116
</td>
<td align="right">
 115.3528
</td>
<td align="right">
 115.3556
</td>
<td align="right">
   .0028
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
03:30:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 115.5079
</td>
<td align="right">
 115.4683
</td>
<td align="right">
 114.5169
</td>
<td align="right">
  -.9514
</td>
<td align="right">
 -.0082
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
03:35:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
 115.5120
</td>
<td align="right">
 115.4638
</td>
<td align="right">
 114.5928
</td>
<td align="right">
  -.8710
</td>
<td align="right">
 -.0075
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
03:40:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
 115.5323
</td>
<td align="right">
 115.4917
</td>
<td align="right">
 114.5448
</td>
<td align="right">
  -.9470
</td>
<td align="right">
 -.0082
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
04:00:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 115.4618
</td>
<td align="right">
 115.4349
</td>
<td align="right">
 114.3775
</td>
<td align="right">
 -1.0575
</td>
<td align="right">
 -.0092
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
04:10:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
 115.4849
</td>
<td align="right">
 115.5138
</td>
<td align="right">
 114.3375
</td>
<td align="right">
 -1.1763
</td>
<td align="right">
 -.0102
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
04:20:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 115.4806
</td>
<td align="right">
 115.4659
</td>
<td align="right">
 114.6024
</td>
<td align="right">
  -.8634
</td>
<td align="right">
 -.0075
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
05:05:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 115.4314
</td>
<td align="right">
 115.1724
</td>
<td align="right">
 114.5233
</td>
<td align="right">
  -.6491
</td>
<td align="right">
 -.0056
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
05:20:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
 115.4659
</td>
<td align="right">
 115.0233
</td>
<td align="right">
 114.4553
</td>
<td align="right">
  -.5680
</td>
<td align="right">
 -.0049
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
06:00:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
 115.2259
</td>
<td align="right">
 115.1372
</td>
<td align="right">
 114.6684
</td>
<td align="right">
  -.4687
</td>
<td align="right">
 -.0041
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
07:00:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 115.1372
</td>
<td align="right">
 115.2638
</td>
<td align="right">
 114.6136
</td>
<td align="right">
  -.6503
</td>
<td align="right">
 -.0056
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
07:30:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
 115.3556
</td>
<td align="right">
 115.1022
</td>
<td align="right">
 114.8143
</td>
<td align="right">
  -.2879
</td>
<td align="right">
 -.0025
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
07:35:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
 115.2557
</td>
<td align="right">
 114.9527
</td>
<td align="right">
 114.6913
</td>
<td align="right">
  -.2614
</td>
<td align="right">
 -.0023
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
07:55:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 115.3417
</td>
<td align="right">
 115.0520
</td>
<td align="right">
 114.7400
</td>
<td align="right">
  -.3120
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
08:05:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
 115.2927
</td>
<td align="right">
 114.8462
</td>
<td align="right">
 114.7172
</td>
<td align="right">
  -.1290
</td>
<td align="right">
 -.0011
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
08:15:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
 115.2151
</td>
<td align="right">
 114.8295
</td>
<td align="right">
 114.7736
</td>
<td align="right">
  -.0558
</td>
<td align="right">
 -.0005
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
08:20:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
 115.1958
</td>
<td align="right">
 114.6731
</td>
<td align="right">
 114.7190
</td>
<td align="right">
   .0459
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-12
22:00:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
 115.3403
</td>
<td align="right">
 115.3482
</td>
<td align="right">
 114.8506
</td>
<td align="right">
  -.4976
</td>
<td align="right">
 -.0043
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-13
11:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
 115.2860
</td>
<td align="right">
 115.3105
</td>
<td align="right">
 113.8535
</td>
<td align="right">
 -1.4570
</td>
<td align="right">
 -.0126
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-13
11:10:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
 115.3102
</td>
<td align="right">
 115.3085
</td>
<td align="right">
 113.8841
</td>
<td align="right">
 -1.4245
</td>
<td align="right">
 -.0124
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-13
11:45:00
</td>
<td align="right">
 -.81
</td>
<td align="right">
 115.3303
</td>
<td align="right">
 115.1417
</td>
<td align="right">
 113.9030
</td>
<td align="right">
 -1.2387
</td>
<td align="right">
 -.0107
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-13
12:00:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
 115.3537
</td>
<td align="right">
 115.1243
</td>
<td align="right">
 113.9231
</td>
<td align="right">
 -1.2012
</td>
<td align="right">
 -.0104
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-13
12:10:00
</td>
<td align="right">
 -.79
</td>
<td align="right">
 115.3085
</td>
<td align="right">
 115.0471
</td>
<td align="right">
 114.0210
</td>
<td align="right">
 -1.0260
</td>
<td align="right">
 -.0089
</td>
</tr>
<tr>
<td>
eur_jpy
</td>
<td>
2011-05-13
12:20:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
 115.4010
</td>
<td align="right">
 114.8349
</td>
<td align="right">
 114.1030
</td>
<td align="right">
  -.7319
</td>
<td align="right">
 -.0063
</td>
</tr>
<tr>
<td>
eur_usd
</td>
<td>
2011-05-13
08:05:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.4313
</td>
<td align="right">
   1.4313
</td>
<td align="right">
   1.4225
</td>
<td align="right">
  -.0089
</td>
<td align="right">
 -.0062
</td>
</tr>
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="priceafter6hours">
Price after
<br>
6 hours
</a></th>
<th scope="col"><a href="#" class="5hourgainbetweenhr1andhr6">
5 hour gain
<br>
between
<br>
hr1 and hr6
</a></th>
<th scope="col"><a href="#" class="normalized5hrgain">
Normalized
<br>
5hr gain
</a></th>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-12
01:45:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.6374
</td>
<td align="right">
   1.6370
</td>
<td align="right">
   1.6341
</td>
<td align="right">
  -.0029
</td>
<td align="right">
 -.0017
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-12
02:10:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
   1.6369
</td>
<td align="right">
   1.6379
</td>
<td align="right">
   1.6335
</td>
<td align="right">
  -.0044
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-12
02:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.6370
</td>
<td align="right">
   1.6375
</td>
<td align="right">
   1.6284
</td>
<td align="right">
  -.0091
</td>
<td align="right">
 -.0056
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-12
03:00:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.6377
</td>
<td align="right">
   1.6372
</td>
<td align="right">
   1.6284
</td>
<td align="right">
  -.0089
</td>
<td align="right">
 -.0054
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-12
03:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
   1.6379
</td>
<td align="right">
   1.6376
</td>
<td align="right">
   1.6298
</td>
<td align="right">
  -.0078
</td>
<td align="right">
 -.0047
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-12
03:40:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
   1.6379
</td>
<td align="right">
   1.6377
</td>
<td align="right">
   1.6303
</td>
<td align="right">
  -.0074
</td>
<td align="right">
 -.0045
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-12
03:45:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.6376
</td>
<td align="right">
   1.6377
</td>
<td align="right">
   1.6288
</td>
<td align="right">
  -.0089
</td>
<td align="right">
 -.0055
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-12
15:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.6312
</td>
<td align="right">
   1.6282
</td>
<td align="right">
   1.6288
</td>
<td align="right">
   .0006
</td>
<td align="right">
  .0004
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-12
17:35:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
   1.6319
</td>
<td align="right">
   1.6297
</td>
<td align="right">
   1.6273
</td>
<td align="right">
  -.0025
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-13
07:40:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.6292
</td>
<td align="right">
   1.6285
</td>
<td align="right">
   1.6253
</td>
<td align="right">
  -.0032
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-13
07:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
   1.6298
</td>
<td align="right">
   1.6283
</td>
<td align="right">
   1.6240
</td>
<td align="right">
  -.0043
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-13
08:25:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
   1.6301
</td>
<td align="right">
   1.6277
</td>
<td align="right">
   1.6231
</td>
<td align="right">
  -.0046
</td>
<td align="right">
 -.0028
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
08:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9652
</td>
<td align="right">
    .9648
</td>
<td align="right">
    .9657
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
08:15:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .9652
</td>
<td align="right">
    .9649
</td>
<td align="right">
    .9662
</td>
<td align="right">
   .0013
</td>
<td align="right">
  .0014
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
08:20:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
    .9659
</td>
<td align="right">
    .9653
</td>
<td align="right">
    .9660
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
08:25:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .9662
</td>
<td align="right">
    .9656
</td>
<td align="right">
    .9662
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
08:30:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9666
</td>
<td align="right">
    .9658
</td>
<td align="right">
    .9660
</td>
<td align="right">
   .0002
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
08:40:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .9658
</td>
<td align="right">
    .9665
</td>
<td align="right">
    .9679
</td>
<td align="right">
   .0014
</td>
<td align="right">
  .0015
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
08:45:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9657
</td>
<td align="right">
    .9672
</td>
<td align="right">
    .9681
</td>
<td align="right">
   .0009
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
08:50:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .9654
</td>
<td align="right">
    .9668
</td>
<td align="right">
    .9690
</td>
<td align="right">
   .0023
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
09:40:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9665
</td>
<td align="right">
    .9684
</td>
<td align="right">
    .9637
</td>
<td align="right">
  -.0047
</td>
<td align="right">
 -.0048
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
09:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9666
</td>
<td align="right">
    .9680
</td>
<td align="right">
    .9657
</td>
<td align="right">
  -.0023
</td>
<td align="right">
 -.0024
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
10:15:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9672
</td>
<td align="right">
    .9681
</td>
<td align="right">
    .9660
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0021
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
10:25:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9673
</td>
<td align="right">
    .9676
</td>
<td align="right">
    .9650
</td>
<td align="right">
  -.0027
</td>
<td align="right">
 -.0027
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
10:45:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9685
</td>
<td align="right">
    .9663
</td>
<td align="right">
    .9642
</td>
<td align="right">
  -.0021
</td>
<td align="right">
 -.0022
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-12
10:50:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
    .9685
</td>
<td align="right">
    .9661
</td>
<td align="right">
    .9643
</td>
<td align="right">
  -.0019
</td>
<td align="right">
 -.0019
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
15:15:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .9682
</td>
<td align="right">
    .9725
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
15:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9692
</td>
<td align="right">
    .9724
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
15:35:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .9695
</td>
<td align="right">
    .9718
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
15:40:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9709
</td>
<td align="right">
    .9715
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
15:45:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
    .9706
</td>
<td align="right">
    .9707
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
16:10:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .9728
</td>
<td align="right">
    .9694
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
16:15:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9725
</td>
<td align="right">
    .9688
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
16:40:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9715
</td>
<td align="right">
    .9696
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
16:55:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9704
</td>
<td align="right">
    .9697
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
17:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .9701
</td>
<td align="right">
    .9700
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
17:40:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .9696
</td>
<td align="right">
    .9683
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
17:50:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9703
</td>
<td align="right">
    .9682
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
17:55:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .9697
</td>
<td align="right">
    .9681
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
18:15:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9688
</td>
<td align="right">
    .9685
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
18:35:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9684
</td>
<td align="right">
    .9691
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
19:15:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .9685
</td>
<td align="right">
    .9689
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
19:30:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
    .9690
</td>
<td align="right">
    .9695
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
19:55:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .9687
</td>
<td align="right">
    .9688
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
20:05:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9687
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
20:45:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
    .9703
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
20:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
    .9701
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-13
20:55:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .9688
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
01:25:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .8868
</td>
<td align="right">
    .8867
</td>
<td align="right">
    .8826
</td>
<td align="right">
  -.0041
</td>
<td align="right">
 -.0046
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
01:40:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
    .8873
</td>
<td align="right">
    .8868
</td>
<td align="right">
    .8813
</td>
<td align="right">
  -.0055
</td>
<td align="right">
 -.0062
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
02:20:00
</td>
<td align="right">
 -.77
</td>
<td align="right">
    .8867
</td>
<td align="right">
    .8865
</td>
<td align="right">
    .8807
</td>
<td align="right">
  -.0058
</td>
<td align="right">
 -.0065
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
02:25:00
</td>
<td align="right">
 -.72
</td>
<td align="right">
    .8867
</td>
<td align="right">
    .8870
</td>
<td align="right">
    .8806
</td>
<td align="right">
  -.0064
</td>
<td align="right">
 -.0072
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
02:30:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
    .8865
</td>
<td align="right">
    .8867
</td>
<td align="right">
    .8807
</td>
<td align="right">
  -.0060
</td>
<td align="right">
 -.0067
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
02:35:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
    .8865
</td>
<td align="right">
    .8870
</td>
<td align="right">
    .8808
</td>
<td align="right">
  -.0063
</td>
<td align="right">
 -.0071
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
02:40:00
</td>
<td align="right">
 -.78
</td>
<td align="right">
    .8868
</td>
<td align="right">
    .8873
</td>
<td align="right">
    .8815
</td>
<td align="right">
  -.0058
</td>
<td align="right">
 -.0066
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
02:55:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .8866
</td>
<td align="right">
    .8864
</td>
<td align="right">
    .8823
</td>
<td align="right">
  -.0041
</td>
<td align="right">
 -.0047
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
03:10:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .8865
</td>
<td align="right">
    .8867
</td>
<td align="right">
    .8834
</td>
<td align="right">
  -.0033
</td>
<td align="right">
 -.0037
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
03:30:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8867
</td>
<td align="right">
    .8871
</td>
<td align="right">
    .8829
</td>
<td align="right">
  -.0042
</td>
<td align="right">
 -.0047
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
03:40:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .8873
</td>
<td align="right">
    .8872
</td>
<td align="right">
    .8831
</td>
<td align="right">
  -.0042
</td>
<td align="right">
 -.0047
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
04:30:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
    .8871
</td>
<td align="right">
    .8863
</td>
<td align="right">
    .8849
</td>
<td align="right">
  -.0014
</td>
<td align="right">
 -.0016
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
05:00:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
    .8865
</td>
<td align="right">
    .8853
</td>
<td align="right">
    .8861
</td>
<td align="right">
   .0007
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
05:05:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .8863
</td>
<td align="right">
    .8858
</td>
<td align="right">
    .8861
</td>
<td align="right">
   .0003
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
05:40:00
</td>
<td align="right">
 -.66
</td>
<td align="right">
    .8862
</td>
<td align="right">
    .8860
</td>
<td align="right">
    .8864
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
05:45:00
</td>
<td align="right">
 -.76
</td>
<td align="right">
    .8863
</td>
<td align="right">
    .8858
</td>
<td align="right">
    .8863
</td>
<td align="right">
   .0005
</td>
<td align="right">
  .0005
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
12:40:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
    .8857
</td>
<td align="right">
    .8861
</td>
<td align="right">
    .8917
</td>
<td align="right">
   .0056
</td>
<td align="right">
  .0064
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
14:05:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
    .8874
</td>
<td align="right">
    .8881
</td>
<td align="right">
    .8929
</td>
<td align="right">
   .0048
</td>
<td align="right">
  .0054
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
14:10:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
    .8872
</td>
<td align="right">
    .8876
</td>
<td align="right">
    .8933
</td>
<td align="right">
   .0057
</td>
<td align="right">
  .0064
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
14:20:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
    .8869
</td>
<td align="right">
    .8887
</td>
<td align="right">
    .8934
</td>
<td align="right">
   .0048
</td>
<td align="right">
  .0054
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
14:25:00
</td>
<td align="right">
 -.74
</td>
<td align="right">
    .8870
</td>
<td align="right">
    .8890
</td>
<td align="right">
    .8935
</td>
<td align="right">
   .0045
</td>
<td align="right">
  .0051
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
14:30:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
    .8870
</td>
<td align="right">
    .8889
</td>
<td align="right">
    .8935
</td>
<td align="right">
   .0047
</td>
<td align="right">
  .0053
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-13
14:40:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
    .8872
</td>
<td align="right">
    .8894
</td>
<td align="right">
    .8931
</td>
<td align="right">
   .0037
</td>
<td align="right">
  .0042
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-11
21:35:00
</td>
<td align="right">
 -.60
</td>
<td align="right">
  81.1650
</td>
<td align="right">
  81.0525
</td>
<td align="right">
  81.1600
</td>
<td align="right">
   .1075
</td>
<td align="right">
  .0013
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-11
21:50:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  81.1300
</td>
<td align="right">
  81.0400
</td>
<td align="right">
  81.1300
</td>
<td align="right">
   .0900
</td>
<td align="right">
  .0011
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-11
22:00:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  81.1625
</td>
<td align="right">
  80.9975
</td>
<td align="right">
  81.1925
</td>
<td align="right">
   .1950
</td>
<td align="right">
  .0024
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-11
22:05:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  81.1550
</td>
<td align="right">
  81.0025
</td>
<td align="right">
  81.2050
</td>
<td align="right">
   .2025
</td>
<td align="right">
  .0025
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-13
11:05:00
</td>
<td align="right">
 -.67
</td>
<td align="right">
  80.7325
</td>
<td align="right">
  80.7525
</td>
<td align="right">
  80.7300
</td>
<td align="right">
  -.0225
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-13
11:15:00
</td>
<td align="right">
 -.64
</td>
<td align="right">
  80.7038
</td>
<td align="right">
  80.8025
</td>
<td align="right">
  80.7350
</td>
<td align="right">
  -.0675
</td>
<td align="right">
 -.0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-13
11:20:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  80.7075
</td>
<td align="right">
  80.8300
</td>
<td align="right">
  80.7600
</td>
<td align="right">
  -.0700
</td>
<td align="right">
 -.0009
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-13
11:25:00
</td>
<td align="right">
 -.69
</td>
<td align="right">
  80.7125
</td>
<td align="right">
  80.8788
</td>
<td align="right">
  80.7575
</td>
<td align="right">
  -.1213
</td>
<td align="right">
 -.0015
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-13
11:30:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  80.7225
</td>
<td align="right">
  80.7800
</td>
<td align="right">
  80.7525
</td>
<td align="right">
  -.0275
</td>
<td align="right">
 -.0003
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-13
11:35:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  80.7175
</td>
<td align="right">
  80.7125
</td>
<td align="right">
  80.7250
</td>
<td align="right">
   .0125
</td>
<td align="right">
  .0002
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-13
11:40:00
</td>
<td align="right">
 -.62
</td>
<td align="right">
  80.7125
</td>
<td align="right">
  80.6600
</td>
<td align="right">
  80.7225
</td>
<td align="right">
   .0625
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-13
11:45:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
  80.7225
</td>
<td align="right">
  80.6625
</td>
<td align="right">
  80.7350
</td>
<td align="right">
   .0725
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-13
11:55:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
  80.7025
</td>
<td align="right">
  80.6613
</td>
<td align="right">
  80.7300
</td>
<td align="right">
   .0688
</td>
<td align="right">
  .0009
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-13
12:35:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
  80.7125
</td>
<td align="right">
  80.6163
</td>
<td align="right">
  80.8250
</td>
<td align="right">
   .2088
</td>
<td align="right">
  .0026
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-13
13:15:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
  80.5550
</td>
<td align="right">
  80.6250
</td>
<td align="right">
  80.7950
</td>
<td align="right">
   .1700
</td>
<td align="right">
  .0021
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-13
13:20:00
</td>
<td align="right">
 -.68
</td>
<td align="right">
  80.5675
</td>
<td align="right">
  80.6425
</td>
<td align="right">
  80.8050
</td>
<td align="right">
   .1625
</td>
<td align="right">
  .0020
</td>
</tr>
</table>
