%a(href="/r10/site_map")Site Map
>
%a(href="/predictions")Predictions
> Forex

%h4 Forex Predictions

%a(href="/predictions/fx_past")Results Of Past Forex Predictions
%br/
%br/
%a(href="/predictions/fx_new")New Forex Predictions
%br/
%br/
