<a href="/r10/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/predictions/fx_past">Past Forex Predictions</a> > Week of: 2011_05_08<h4>Week of: 2011_05_08</h4><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
aud_usd
</td>
<td align="right">
  .78
</td>
<td align="right">
   10.97
</td>
<td align="right">
   .0046
</td>
<td align="right">
    5
</td>
<td align="right">
   .0228
</td>
<td align="right">
   .0039
</td>
<td align="right">
   .0050
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td align="right">
  .67
</td>
<td align="right">
    1.43
</td>
<td align="right">
   .0005
</td>
<td align="right">
    7
</td>
<td align="right">
   .0037
</td>
<td align="right">
  -.0001
</td>
<td align="right">
   .0010
</td>
<td align="right">
   .0004
</td>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   12
</td>
<td align="right">
   .0265
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions. A list of high-confidence-predictions is displayed below should you want
to load it into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Timestamp
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-08
22:25:00
</td>
<td align="right">
 -.58
</td>
<td align="right">
  86.5613
</td>
<td align="right">
  86.6878
</td>
<td align="right">
  86.6839
</td>
<td align="right">
  -.0038
</td>
<td align="right">
  .0000
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-08
22:40:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
  86.6237
</td>
<td align="right">
  86.7450
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-08
22:45:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
  86.6364
</td>
<td align="right">
  86.7127
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-08
22:50:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  86.5832
</td>
<td align="right">
  86.8633
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-08
23:25:00
</td>
<td align="right">
 -.73
</td>
<td align="right">
  86.6878
</td>
<td align="right">
  86.7068
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-08
23:30:00
</td>
<td align="right">
 -.75
</td>
<td align="right">
  86.6619
</td>
<td align="right">
  86.7259
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-08
23:40:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  86.7450
</td>
<td align="right">
  86.7383
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-08
23:45:00
</td>
<td align="right">
 -.70
</td>
<td align="right">
  86.7127
</td>
<td align="right">
  86.6960
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-09
01:45:00
</td>
<td align="right">
 -.71
</td>
<td align="right">
  86.6437
</td>
<td align="right">
  86.6772
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-09
02:35:00
</td>
<td align="right">
 -.56
</td>
<td align="right">
   1.6384
</td>
<td align="right">
   1.6393
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-09
02:40:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.6385
</td>
<td align="right">
   1.6396
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-09
02:55:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
   1.6382
</td>
<td align="right">
   1.6392
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-09
03:05:00
</td>
<td align="right">
 -.55
</td>
<td align="right">
   1.6384
</td>
<td align="right">
   1.6391
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-09
03:10:00
</td>
<td align="right">
 -.65
</td>
<td align="right">
   1.6385
</td>
<td align="right">
   1.6391
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Timestamp
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
aud_jpy
</td>
<td>
2011-05-08
22:15:00
</td>
<td align="right">
  .60
</td>
<td align="right">
  86.6984
</td>
<td align="right">
  86.5357
</td>
<td align="right">
  86.7370
</td>
<td align="right">
   .2013
</td>
<td align="right">
  .0023
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-08
21:50:00
</td>
<td align="right">
  .61
</td>
<td align="right">
   1.0712
</td>
<td align="right">
   1.0715
</td>
<td align="right">
   1.0769
</td>
<td align="right">
   .0054
</td>
<td align="right">
  .0050
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-08
21:55:00
</td>
<td align="right">
  .88
</td>
<td align="right">
   1.0711
</td>
<td align="right">
   1.0714
</td>
<td align="right">
   1.0764
</td>
<td align="right">
   .0050
</td>
<td align="right">
  .0046
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-08
22:05:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.0728
</td>
<td align="right">
   1.0716
</td>
<td align="right">
   1.0766
</td>
<td align="right">
   .0050
</td>
<td align="right">
  .0046
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-08
22:10:00
</td>
<td align="right">
  .92
</td>
<td align="right">
   1.0730
</td>
<td align="right">
   1.0717
</td>
<td align="right">
   1.0766
</td>
<td align="right">
   .0049
</td>
<td align="right">
  .0046
</td>
</tr>
<tr>
<td>
aud_usd
</td>
<td>
2011-05-08
22:20:00
</td>
<td align="right">
  .85
</td>
<td align="right">
   1.0726
</td>
<td align="right">
   1.0717
</td>
<td align="right">
   1.0759
</td>
<td align="right">
   .0042
</td>
<td align="right">
  .0039
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-08
21:15:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.2609
</td>
<td align="right">
   1.2610
</td>
<td align="right">
   1.2609
</td>
<td align="right">
  -.0001
</td>
<td align="right">
 -.0001
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-08
21:20:00
</td>
<td align="right">
  .72
</td>
<td align="right">
   1.2611
</td>
<td align="right">
   1.2610
</td>
<td align="right">
   1.2614
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-08
21:25:00
</td>
<td align="right">
  .66
</td>
<td align="right">
   1.2611
</td>
<td align="right">
   1.2602
</td>
<td align="right">
   1.2613
</td>
<td align="right">
   .0011
</td>
<td align="right">
  .0008
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-08
21:30:00
</td>
<td align="right">
  .63
</td>
<td align="right">
   1.2610
</td>
<td align="right">
   1.2604
</td>
<td align="right">
   1.2616
</td>
<td align="right">
   .0012
</td>
<td align="right">
  .0010
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-08
21:50:00
</td>
<td align="right">
  .77
</td>
<td align="right">
   1.2607
</td>
<td align="right">
   1.2606
</td>
<td align="right">
   1.2610
</td>
<td align="right">
   .0004
</td>
<td align="right">
  .0003
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-08
21:55:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.2606
</td>
<td align="right">
   1.2604
</td>
<td align="right">
   1.2612
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
eur_chf
</td>
<td>
2011-05-08
22:10:00
</td>
<td align="right">
  .68
</td>
<td align="right">
   1.2605
</td>
<td align="right">
   1.2603
</td>
<td align="right">
   1.2612
</td>
<td align="right">
   .0008
</td>
<td align="right">
  .0007
</td>
</tr>
<tr>
<td>
gbp_usd
</td>
<td>
2011-05-09
00:10:00
</td>
<td align="right">
  .59
</td>
<td align="right">
   1.6384
</td>
<td align="right">
   1.6369
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-09
02:45:00
</td>
<td align="right">
  .63
</td>
<td align="right">
    .9622
</td>
<td align="right">
    .9612
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-09
02:50:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9624
</td>
<td align="right">
    .9613
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-09
02:55:00
</td>
<td align="right">
  .67
</td>
<td align="right">
    .9625
</td>
<td align="right">
    .9617
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-09
03:00:00
</td>
<td align="right">
  .68
</td>
<td align="right">
    .9622
</td>
<td align="right">
    .9614
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-09
03:05:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .9624
</td>
<td align="right">
    .9615
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-09
03:10:00
</td>
<td align="right">
  .62
</td>
<td align="right">
    .9625
</td>
<td align="right">
    .9616
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
