<a href="/r10/site_map">Site Map</a> > <a href="/predictions">Predictions</a> > <a href="/predictions/fx">Forex</a> > <a href="/fx_past">Past Forex Predictions</a> > Week of: 2011_05_22<h4>Week of: 2011_05_22</h4><table class="table_fx_past_week">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="avgdanbotscore">
Avg
<br>
DanBot
<br>
Score
</a></th>
<th scope="col"><a href="#" class="sharperatio">
Sharpe
<br>
Ratio
</a></th>
<th scope="col"><a href="#" class="avgofnormalized1hrgains">
Avg of
<br>
normalized
<br>
1hr gains
</a></th>
<th scope="col"><a href="#" class="avgofnormalized5hrgains">
Avg of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="countofpositions">
Count of
<br>
positions
</a></th>
<th scope="col"><a href="#" class="sumofnormalized5hrgains">
Sum of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="minofnormalized5hrgains">
Min of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="maxofnormalized5hrgains">
Max of
<br>
normalized
<br>
5hr gains
</a></th>
<th scope="col"><a href="#" class="standarddeviationofnormalized5hrgains">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</a></th>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The table above displays negative DanBot scores, the table below displays positive DanBot scores.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
Avg
<br>
DanBot
<br>
Score
</th>
<th scope="col">
Sharpe
<br>
Ratio
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
1hr gains
</th>
<th scope="col">
Avg of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Count of
<br>
positions
</th>
<th scope="col">
Sum of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Min of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Max of
<br>
normalized
<br>
5hr gains
</th>
<th scope="col">
Standard
<br>
Deviation
<br>
of normalized
<br>
5hr gains
</th>
</tr>
<tr>
<td>
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
---------
</td>
<td align="right">
----------
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
Sum:
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Note:
</th>
</tr>
<tr>
<td>
The above tables are summaries of predictions. Individual high-confidence-predictions are displayed below should you wan
t to load them into a spreadsheet.
</td>
</tr>
</table>
<table class="table_fx_past_week">
<tr>
<th scope="col">
Currency
<br>
Pair
</th>
<th scope="col">
GMT Time
<br>
at hour 0
</th>
<th scope="col">
DanBot
<br>
Score
<br>
at hour 0
</th>
<th scope="col">
Price at
<br>
hour 0
</th>
<th scope="col">
Price after
<br>
1 hour
</th>
<th scope="col">
Price after
<br>
6 hours
</th>
<th scope="col">
1 hour gain
<br>
between
<br>
hr0 and hr1
</th>
<th scope="col">
5 hour gain
<br>
between
<br>
hr1 and hr6
</th>
<th scope="col">
Normalized
<br>
1hr gain
</th>
<th scope="col">
Normalized
<br>
5hr gain
</th>
</tr>
<tr>
<td>
usd_cad
</td>
<td>
2011-05-22
21:15:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .9742
</td>
<td align="right">
    .9745
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   .0002
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  .0002
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-22
22:20:00
</td>
<td align="right">
  .56
</td>
<td align="right">
    .8781
</td>
<td align="right">
    .8781
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
   .0001
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  .0001
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-22
22:25:00
</td>
<td align="right">
  .71
</td>
<td align="right">
    .8781
</td>
<td align="right">
    .8779
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -.0002
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
 -.0002
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-22
23:00:00
</td>
<td align="right">
  .55
</td>
<td align="right">
    .8780
</td>
<td align="right">
    .8776
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -.0005
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
 -.0006
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-22
23:05:00
</td>
<td align="right">
  .61
</td>
<td align="right">
    .8777
</td>
<td align="right">
    .8776
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
  -.0001
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
 -.0001
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
