<table class="table_fx_new">
<tr>
<th scope="col"><a href="#" class="currencypair">
Currency
<br>
Pair
</a></th>
<th scope="col"><a href="#" class="gmttimeathour0">
GMT Time
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="danbotscoreathour0">
DanBot
<br>
Score
<br>
at hour 0
</a></th>
<th scope="col"><a href="#" class="priceathour0">
Price at
<br>
hour 0
</a></th>
<th scope="col"><a href="#" class="priceafter1hour">
Price after
<br>
1 hour
</a></th>
<th scope="col"><a href="#" class="normalized1hrgain">
Normalized
<br>
1hr gain
</a></th>
<th scope="col"><a href="#" class="priceafter6hours">
Price after
<br>
6 hours
</a></th>
<th scope="col"><a href="#" class="5hourgainbetweenhr1andhr6">
5 hour gain
<br>
between
<br>
hr1 and hr6
</a></th>
<th scope="col"><a href="#" class="normalized5hrgain">
Normalized
<br>
5hr gain
</a></th>
</tr>
<tr>
<td>
usd_chf
</td>
<td>
2011-05-23
03:25:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
    .8792
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-23
01:40:00
</td>
<td align="right">
 -.59
</td>
<td align="right">
  81.9750
</td>
<td align="right">
  81.9550
</td>
<td align="right">
 -.0002
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-23
01:45:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  81.9950
</td>
<td align="right">
  81.9588
</td>
<td align="right">
 -.0004
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-23
01:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  81.9600
</td>
<td align="right">
  81.9850
</td>
<td align="right">
  .0003
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-23
02:40:00
</td>
<td align="right">
 -.57
</td>
<td align="right">
  81.9550
</td>
<td align="right">
  81.9500
</td>
<td align="right">
 -.0001
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-23
02:50:00
</td>
<td align="right">
 -.61
</td>
<td align="right">
  81.9850
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
<tr>
<td>
usd_jpy
</td>
<td>
2011-05-23
02:55:00
</td>
<td align="right">
 -.63
</td>
<td align="right">
  81.9625
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
<td align="right">
&nbsp;
</td>
</tr>
</table>
