!!! 5
%html
  %head
    %title http://bikle101.heroku.com
    %meta(http-equiv="content-type" content="text/html; charset=UTF-8")
  %body
    %table
      %tr
        %td
          %a(href="/")http://bikle101.heroku.com
      %tr
        %td
          LHS
        %td
          =yield
